* {
    background: lightcyan;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    padding-top: 75px;
}

.block {
    display: block;
    background: green;
}

.inline {
    display: inline;
    background: blue;
}

.fixed {
    position: fixed;
    background: red;
    margin: -75px;
}

h1 {
    background: red;

}