<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/alumnos.css">


    <title>REGISTRO DE ASISTENCIAS</title>
</head>
<body
    <header class="header">
        <h1 class="header__h1">
            REGISTRO DE ASISTENCIA 1.0
        </h1>
        <div class="header__nav">
            <nav>
                <ul>
                    <li><a href="#">Nuevo alumno</a></li>
                    <li><a href="#">Listar alumno|s</a></li>
                    <li><a href="#">Registro de asistencias</a></li>
                </ul>
            </nav>
        </div>
    </header>
   
    <section class="section">
        <div>
            <button id="btnCantidadAlumnos" class="btn btn-blue">Ingrese cantidad de Alumnos</button>
        </div>
        <div id="resultados">

        </div>
    </section>
    <script src="../../public/js/asistencia.js"></script>
</body>
</html>