<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/alumnos.css">


    <title>Nuevo Alumno</title>
</head>

<body>
    <header>
        <div class="title">
            Alta de Alumno
        </div>

    </header>
    <section class="container">
        <div class="form-container">
            <div class="form-container__title bg-indigo">
                <div>Alta de Alumno</div>
                
            </div>
            <div class="form-container__body">
                <form action="">
                    <div>
                        <div class="group">
                            <label for="txtDNI">DNI</label>
                            <input class="form-control" type="text" id="txtDNI">
                        </div>
                        <div class="group">
                            <label for="txtApellido">Apellido</label>
                            <input class="form-control" type="text" id="txtApellido">
                        </div>
                        <div class="group">
                            <label for="txtNombres">Nombres</label>
                            <input class="form-control" type="text" id="txtNombres">
                        </div>
                        <div class="group">
                            <label for="txtDomicilio">Domicilio</label>
                            <input class="form-control" type="text" id="txtDomicilio">
                        </div>
                        <div class="group">
                            <label>Sexo</label>
                            <input type="radio" id="txtMasculino" name="txtSexo" value="M">
                            <label for="txtMasculino">Masculino</label>
                            <input type="radio" id="txtFemenino" name="txtSexo" value="F">
                            <label for="txtFemenino">Femenino</label>
                        </div>
                        <div class="group">
                            <label for="txtCiclo">Ciclo</label>
                            <select class="form-control" name="txtCiclo" id="txtCiclo">
                                <option value="JARDIN">Jardín</option>
                                <option value="PRIMARIO" selected>Primario</option>
                                <option value="SECUNDARIO">Secundario</option>
                                <option value="TERCIARIO">Terciario</option>
                            </select>
                        </div>

                    </div>
                    <div class="buttons">
                        <button>Grabar</button>
                        <button>Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>